.navbar {
  margin-top: 10px;
  border-radius: 10px;
  width: 90%;
  height: 60px;
  margin: auto;
  border: 1px solid;
  background-color: gray;
  display: flex;
  justify-content: space-around;
}
.navbar h3{
  margin-top:10px;
  color: white;
  font-weight: 500;
  font-size: 25px;
}
