.navbar {
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  border: 1px solid;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  top: 0;
  position: fixed;
}
.navbar h3{
  margin-top:10px;
  color: white;
  font-weight: 500;
  font-size: 25px;
}
