.navbar {
  width: 100%;
  margin: auto;
  background-color: goldenrod;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  top: 0;
  position: fixed;
  z-index: 20;
}
.navbar h3{
  margin-top:10px;
  color: white;
  font-weight: 500;
  font-size: 30px;
  cursor: pointer;
}
