.container{ 
    margin-top: 100px;
    /* overflow-y: scroll; */
 }
.imgtag{
    width: 100%;
    height: 350px;
}
.card_product{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 20%;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}
.flexdiv{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 40px;
    margin: auto;
    margin-top: 100px;
    position: fixed;
    margin-top: 20px;
}
.flexdiv h1{
    padding: 0px;
    margin: 0px;
}
.card_products{
    margin: auto;
    width: 25%;
    margin-top: 100px;
}
.map{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    margin-top: 20px;
}
.topbutton{
    font-weight: 500;
    font-size: 25px;
    margin-left: 95%;
    
}