.container{ 
    margin-top: 100px;
 }
.imgtag{
    width: 200px;
    height: 200px;
}
.card_product{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 25%;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}
.flexdiv{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 40px;
    margin: auto;
    margin-top: 100px;
    position: fixed;
    margin-top: 20px;

}
.flexdiv h1{
    padding: 0px;
    margin: 0px;
}
.card_products{
    margin: auto;
    width: 25%;
    margin-top: 100px;
    /* border: 1px solid; */
}
.map{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    margin-top: 20px;
}